global:
  resolve_timeout: 5m

route:
  receiver: 'default-receiver'
  
  group_by: ['alertname', 'service']
  
  group_wait: 10s
  
  group_interval: 10s
  
  repeat_interval: 12h
  
  routes:
    - match:
        severity: critical
      receiver: 'critical-receiver'
      continue: true
    
    - match:
        severity: warning
      receiver: 'warning-receiver'

receivers:
  - name: 'default-receiver'
    webhook_configs:
      - url: 'http://localhost:9093/api/v1/alerts'

  - name: 'critical-receiver'
    webhook_configs:
      - url: 'http://localhost:9093/api/v1/alerts'
      
  - name: 'warning-receiver'
    webhook_configs:
      - url: 'http://localhost:9093/api/v1/alerts'

inhibit_rules:
  - source_match:
      alertname: 'ServiceDown'
    target_match:
      severity: 'warning'
    equal: ['service']